<!DOCTYPE html>
<!-- Déclaration application AngularJS nommé "inputValidation" -->
<html lang="en" ng-app="inputValidation">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Input Validation</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./lib/angular.min.js"></script>
    <script src="./controller/inputvalidation.js"></script>
</head>

<!-- Appelle du contrôleur AngularJS nommé "validControl" à la balise <body>. -->

<body ng-controller="validControl">

    <!-- 
        Indique que la fonction du formulaire sera soumis 
        la fonction submitform va s'executer avec comme argument form.$valid
        novalidate désactiive la validation de base du formulaire.
    -->
    <form name="form" ng-submit="submitform(form.$valid)" novalidate class="myform">

        <div>
            <p>
                <label for="name">Full Name :</label>
                <input type="text" id="name" ng-model="name" required>
                <!-- 
                    Liaision de la variable name avec valeur entrée dans le champs
                    ce champs est obligatoire.
                -->
            </p>
            <p>
                <label for="email">Full Email :</label>
                <input type="text" id="email" ng-model="email" required>
                <!-- 
                    Liaision de la variable email avec valeur entrée dans le champs
                    ce champs est obligatoire.
                -->
            </p>
            <p>
                <button type="submit" ng-disable="form.$invalid">Submit</button>
                <!-- Désactivation du formulaire si invalide -->
            </p>
        </div>
    </form>
</body>

</html>