<!DOCTYPE html>
<!-- Déclaration du Module AngularJS nommé "LogService" -->
<html ng-app="LogService">

<head>
    <title>Demo Log Service</title>
    <script src="./lib/angular.min.js"></script>
    <script src="./controller/logservice.js"></script>
</head>

<body>
    <h1>Demo Log Service</h1>
    <br>
    <!-- Appelle du controller -->
    <div ng-controller="LogController">
        <p>
            <label for="message">Message:</label>
            <!-- lie une variable de modèle AngularJS message à la balise input. -->
            <input type="text" id="message" ng-model='message'>
        </p>
        <p>
            <!-- 
                Appelle les fonctions de journalisation du service de journalisation $log 
                avec le message entré dans le champ de texte.
            -->
            <button ng-click="$log.log(message)">Log</button>
            <button ng-click="$log.warn(message)">Warn</button>
            <button ng-click="$log.info(message)">Info</button>
            <button ng-click="$log.debug(message)">Debug</button>
            <button ng-click="$log.error(message)">Error</button>
        </p>
    </div>
</body>

</html>