<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Module</title>
    <script src="./lib/angular.min.js"></script>
    <script src="./controller/multicontroller.js"></script>
</head>

<body>
    <!-- Déclaration du Module AngularJS nommé "multiController" -->
    <div ng-app="multiController">
        <p>
            <label for="valA"></label>
            <input type="number" id="valA" ng-model="valA">
        </p>
        <p>
            <label for="valB"></label>
            <input type="number" id="valB" ng-model="valB">
        </p>
        <p ng-controller="Math1">
            <!-- Appelle du 1er contrôleur AngularJS nommé "Math1" à la balise <p>. -->

            <button ng-click="add(valA,valB)">Additionner</button>
            Result : {{ result }}
        </p>
        <p ng-controller="Math2">
            <!-- Appelle du 2ème contrôleur AngularJS nommé "Math2" à la balise <p>. -->

            <button ng-click="multiple(valA,valB)">Multiplier</button>
            Result : {{ result }}
        </p>
    </div>
</body>

</html>