<!DOCTYPE html>
<html ng-app="NestedRepeatBinding">

<head>
    <title>Demo Repeat Data Binding</title>
    <script src="./lib/angular.min.js"></script>
    <script src="./controller/nestedrepeated.js"></script>
    <style>
        .item {
            width: 350px;
            height: 30px;
            background-color: #ff6e68;
        }

        .subitem {
            margin-left: 30px;
            width: 320px;
            height: 30px;
            background-color: #6fff90;
        }
    </style>
</head>

<body ng-controller="MyControlller">
    <h2>Demo data binding with nested repeat data</h2>
    <br>
    <div ng-repeat="order in orders">
        <p class="item">{{order.id}} | {{order.transid}} | {{order.customer}} | {{order.created}}</p>
        <div ng-repeat="item in order.details">
            <p class="subitem">{{item.name}} | {{item.quantity}} | {{item.price}}</p>
        </div>
    </div>
</body>

</html>