<!DOCTYPE html>
<!-- Déclaration du Module AngularJS nommé sampleModule -->
<html ng-app="sampleModule">

<head>
    <title> Module Simple</title>
    <script src="./lib/angular.min.js"></script>
    <script src="./controller/simplecontroller.js"></script>
</head>

<body ng-controller='Mycontroller'>
    <!-- Appelle du contrôleur AngularJS nommé "MyControlller" à la balise <body>. -->

    <br>
    <h1>Demo {{ title }}</h1>
    <div>
        <p>
            <label for="valA">Valeur de A:</label>
            <input type="number" id="valA" ng-model='valA'>
        </p>
        <p>
            <label for="valB">Valeur de B:</label>
            <input type="number" id="valB" ng-model='valB'>
        </p>
        <p>
            Result: {{ result }}
        </p>
        <p>
            <button ng-click="add(valA,valB)">Additionner</button>
            <button ng-click="multiple(valA,valB)">Multiplier</button>
        </p>
    </div>
</body>

</html>