<!DOCTYPE html>
<html ng-app="SimpleFilter">

<head>
    <title>Demo Repeat Data Binding</title>
    <script src="./lib/angular.min.js"></script>
    <script src="./controller/simplefilter.js"></script>
    <style>
        .item {
            width: 350px;
            height: 50px;
            background-color: #ff6e68;
        }
    </style>
</head>

<body ng-controller="MyControlller">
    <h2>Demo filtering for repeated data</h2>
    <br>
    <p>
        <label for="filter">Filter:</label>
        <input type="text" id="filter" ng-model="query">
    </p>
    <div ng-repeat="customer in customers | filter:query">
        <p class="item">{{customer.name}} | {{customer.email}} | {{customer.country}}</p>
    </div>
</body>

</html>